
<section class="py-5 text-center container anta-regular">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light anta-regular">TIENDA VIRTUAL</h1>
        <p class="lead text-body-secondary anta-regular">Tu tienda virtual favorita! Donde podrás comprar la mejor ropa y a un costo increible!.</p>
        
      </div>
    </div>
  </section>

  <div class="row row-cols-1 row-cols-md-3 g-4 anta-regular">
    <div class="col">
      <div class="card h-100">
        <img src="https://www.versace.com/dw/image/v2/BGWN_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw36f86c0e/original/90_1013999-1A09950_1B000_10_CargoPants-Clothing-Versace-online-store_0_2.jpg?sw=850&q=85&strip=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.versace.com/dw/image/v2/BGWN_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw36f86c0e/original/90_1013999-1A09950_1B000_10_CargoPants-Clothing-Versace-online-store_0_2.jpg?sw=850&q=85&strip=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-primary">Ver</button>
          <button class="btn btn-success">Agregar al carrito</button>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.versace.com/dw/image/v2/BGWN_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw9a636b98/original/90_1013999-1A09950_1B000_16_CargoPants-Clothing-Versace-online-store_0_2.jpg?sw=850&q=85&strip=true" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>

