/* You can add global styles to this file, and also import other style files */
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    font-family: Arial, Helvetica, sans-serif;
}