
<div class="container mt-5" style="width: 80%; max-width: 800px; margin: 0 auto;">
    <h1 class="text-center mb-4">Administración de Productos</h1>
    <form>
      <div class="form-group mb-3">
        <label for="productName">Nombre del Producto</label>
        <input type="text" class="form-control" id="productName" placeholder="Nombre del Producto">
      </div>
      <div class="form-group mb-3">
        <label for="productName">Precio</label>
        <input type="number" class="form-control" id="precio" >
      </div>
      <div class="form-group mb-4">
        <label for="category">Categoría</label>
        <select class="form-control" id="category">
          <option selected>Elige una categoria</option>
          <option value="1">Pantalones</option>
          <option value="2">Camisas</option>
          <option value="3">Calzado</option>
          <!-- Añade más opciones según sea necesario -->
        </select>
      </div>
      <div class="form-group mb-4">
        <label for="productImage">Imagen del Producto</label>
        <input type="file" class="form-control-file mx-2" id="productImage">
      </div>
      <div class="form-group">
        <label for="productDescription">Descripción del Producto</label>
        <textarea class="form-control" id="productDescription" rows="3" placeholder="Descripción del Producto"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Agregar Producto</button>
    </form>
    <table *ngIf="false" class="table mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí irán los productos -->
      </tbody>
    </table>
  </div>